body {
  background-color: #fdf6ec;
  font-family: Arial, sans-serif;
}


h1 {
  text-align: center;
  color: #3b4a2f;
  margin: 20px 0;
}

section ul {
  list-style: none;
  padding: 0;
}

section ul li {
  border: 1px solid #e0cbb5;
  margin: 20px;
  padding: 15px;
  background: white;
  border-radius: 10px;
}

section ul li img {
  width: 100%;
  border-radius: 10px;
}

section ul li h2 {
  color: #8b5e3c;
  margin: 10px 0;
}